In [17]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
#讀取csv文件
df = pd.read_csv('CPICH.csv')
df.head()

,DATE,TAIWAN,US,JAPAN,GERMANY,FRANCE,UK,ITALY,SOUTH KOREA,SINGAPORE,HK,CHINA
0,2000,1.25,3.38,-0.68,1.44,1.68,1.18,2.54,2.26,1.36,-3.69,0.35
1,2001,0.00,2.83,-0.74,1.98,1.63,1.53,2.79,4.07,1.00,-1.66,0.72
2,2002,-0.20,1.59,-0.92,1.42,1.92,1.52,2.47,2.76,-0.39,-2.98,-0.73
3,2003,-0.28,2.27,-0.26,1.03,2.10,1.38,2.67,3.51,0.51,-2.67,1.13
4,2004,1.61,2.68,-0.01,1.67,2.14,1.39,2.21,3.59,1.66,-0.27,3.82

In [38]:
trace = sns.scatterplot(
    df = df,
    x = 'DATE',
    y = 'TAIWAN',color='red', marker='o', s=100 )

ValueError: Could not interpret value `DATE` for parameter `x`

In [29]:
#讀取csv文件
df = pd.read_csv('RU.csv')
df.head()

,DATE,TAIWAN,US,JAPAN,GERMANY,FRANCE,UK,ITALY,SOUTH KOREA,SINGAPORE,HK,CHINA
0,2000,2.99,3.99,4.75,7.92,10.22,5.37,10.05,4.07,3.70,5.11,3.1
1,2001,4.57,4.73,5.02,7.77,8.61,5.00,9.01,3.71,3.70,4.93,3.6
2,2002,5.17,5.79,5.39,8.48,8.70,5.13,8.48,3.05,4.50,7.23,4.0
3,2003,4.99,5.99,5.25,9.78,8.51,4.95,8.43,3.35,5.23,7.93,4.3
4,2004,4.44,5.53,4.74,10.73,8.90,4.70,8.05,3.42,4.43,6.88,4.2

In [30]:
#讀取csv文件
df = pd.read_csv('RX.csv')
df.head()

,DATE,NTD,匯率 - 美國 ( 1 美元所能兌換之特別提款權),JPY,EURO,EURO.1,GBP,EURO.2,KRW,SGD,HKD,CNY
0,2000,32.99,0.77,114.90,1.07,1.07,0.67,1.07,1259.7,1.73,7.80,8.28
1,2001,35.00,0.80,131.80,1.13,1.13,0.69,1.13,1326.1,1.85,7.80,8.28
2,2002,34.75,0.74,119.90,0.95,0.95,0.62,0.95,1200.4,1.74,7.80,8.28
3,2003,33.98,0.67,107.10,0.79,0.79,0.56,0.79,1197.8,1.70,7.76,8.28
4,2004,31.92,0.64,104.12,0.73,0.73,0.52,0.73,1043.8,1.63,7.77,8.28

In [32]:
df.plot(x = 'DATE', y = ['TAIWAN','US','JAPAN','GERMANY','FRANCE', 'UK', 'HK','CHINA'])


plt.show()

KeyError: "None of [Index(['TAIWAN', 'US', 'JAPAN', 'GERMANY', 'FRANCE', 'UK', 'HK', 'CHINA'], dtype='object')] are in the [columns]"